

body {
    background-color: rgb(200, 200, 200);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;}


h1 {
    color: black;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: black}

p {
    padding: 1%;
    margin: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 24px;
    color:black;
    size: 40px;
}

.container {
    width: 800px;
    margin: 0 auto;
}


i {
    color: black;
    font-size: 30px;
}

.homebar {
    background-color: black;
    text-align: left;
    padding:2px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.homebar a {
    color: white;
    text-decoration: none;
}

.links {
    width: 500px;
    display: flex;
    justify-content: space-around;
}


.titlecard {
    margin-bottom: 50px;
    
}

.card {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4), 0px 3px 10px rgba(0, 0, 0, 0.3), 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.CardPara {
    padding-top: 24px;
}

#intro {
    margin-bottom: -24px;
}

.botton {
    background-color: white ;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8) ;
    margin-bottom: 50px;

    transition: box-shadow .2s ease-in-out;
    transition: background-color .2 ease-in-out ;
    
}

.botton:hover {
    box-shadow: 3px 3px 4px rgba(0, 0, 0,0.8) ;
    background-color: rgb(245, 245, 245);
}

.knowmore {
    margin-top: 50px;
    margin-bottom: 50px;
}


  
  img {
    /* The image used */
  
  }


@media  (max-width: 800px) {
    .CardPara {
        /* background-color: black; */
    }

    .container {
        width: 500px;
    }

}

@media  (max-width: 600px) {
    .CardPara {
        /* background-color: black; */
    }

    .container {
        width: 300px;
    }

    
}
